<%- include('partials/header') %>

<h1>What do you know now?</h1>
<p>Your experience is invaluable. Take a moment to share an insight, a lesson, or a piece of advice that could change someone's path.</p>
<a href="/posts/new" class="btn btn-primary mb-3">Create a new Post</a>

<!-- <h1>My Posts</h1> -->
<div class="row">
  <% for(let post of posts) { %>
  <div class="col-md-4 mb-4 card">
    <div class="card-body">
      <h2 class="card-title"><%= post.title %></h2>
      <p class="card-text"><%= post.content %></p>
    </div>
    <form
    class="form"
      action="/posts/<%= post.id %>/delete"
      method="POST"
      style="display: inline"
    >
      <button type="submit" class="btn btn-danger btn-sm">Delete Post</button>
      <a href="/posts/<%= post.id %>/edit" class="btn btn-secondary btn-sm">Edit</a>
  </div>
    </form>
  
  <% } %>
</div>

<%- include('partials/footer') %>
